---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<!-- Start of Selection -->
<BaseLayout pageTitle={frontmatter.title}>
    <div class="py-8 max-w-3xl mx-auto">
        <p class="text-muted-foreground text-sm">{frontmatter.pubDate}</p>
        <h1 class="text-3xl font-bold mb-2">{frontmatter.title}</h1>
        <p class="text-lg italic mb-4">{frontmatter.description}</p>
        <p class="text-muted-foreground">Written by: <strong>{frontmatter.author}</strong></p>
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="w-full max-w-xs rounded-lg shadow-md mb-4" />


        <div class="prose prose-lg mt-6">
            <slot />
          </div>
    </div>
</BaseLayout>
<!-- End of Selection -->